body{
    height: 100vh;
}
.container{
    height: 1000px;
    border: 1px Solid black;

    background-image: linear-gradient(150deg, red, red, white, blue, blue);
}
.box{
    background-color: rgba(198,149,174,0,5);

    border-radius: 75px;
    position: relative;
    top: 10px;
    left: 10px;
}
.yellow{
    background-color: yellow;
    position: absolute;
    left: 30px;
}
.orange{
    background-color: orange;
    position: fixed;
    left: -50px;
}
.pink{
    background-color: pink;
    position: sticky;
    top: 0px;
    z-index: -1;
}


section{
    display: flex;
    justify-content: center;
    align-items: center; min-height: 100vh;
    width: 100%;
    background: url();
    background-position: center;
    background-size: cover;
}
.form{
    
    top: 150px;
}
.form-box{
    position: relative;
    width: 550px;
    height: 300px;
    background: transparent;
    background-image: url(IMG_7123.PNG);
    background-position: top left;
    background-size: 150px;
    background-repeat: no-repeat;    
    border: 2px solid black;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 250px;
    margin-left: -50px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: black;
    text-align: center;
    letter-spacing: 20px;
}
.inputbox{
    position: relative;
    margin: 25px 0; width: 180px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: -10px;
    left: 5px;
    transform: translateY(-50%);
    color: Black; font-size: 1em;
    pointer-events: none;
    font-weight: bolder;
}
input:focus ~ label,
input:focus ~ :valid{
    top: -5px;
}
.inputbox-input{
    width: 100x;
    height: 50px;
    background: transparent;
    border: none;
    outline: none; 
    font-size: 1em;
    padding: 35px 0.5px;
}
.inputbox ion-ion{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    text-align: center;
}
.forget label a{
    color: black;
    text-align: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button:hover{
    color: red;
}
button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer; font-size: 1em;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: white;

}
@media (max-width: 620px) {

    body{
        height: 2000px;
    }
    .container{
        height: 1000px;
        border: 1px Solid black;
    
        background-image: linear-gradient(180deg, aqua, white);
    }
    .box{
        background-color: rgba(198,149,174,0,5);
    
        border-radius: 75px;
        position: relative;
        top: 10px;
        left: 10px;
    }
    .yellow{
        background-color: yellow;
        position: absolute;
        left: 30px;
    }
    .orange{
        background-color: orange;
        position: fixed;
        left: -50px;
    }
    .pink{
        background-color: pink;
        position: sticky;
        top: 0px;
        z-index: -1;
    }
    
    
    section{
        display: flex;
        justify-content: center;
        align-items: center; min-height: 100vh;
        width: 100%;
        background: url();
        background-position: center;
        background-size: cover;
    }
    .form{
        
        top: 150px;
    }
    .form-box{
        position: relative;
        width: 500px;
        height: 300px;
        background: transparent;
        background-image: url(RC-AKIC.png);
        background-position: center left;
        background-size: 150px;
        background-repeat: no-repeat;    
        border: 2px solid black;
        border-radius: 20px;
        backdrop-filter: blur(2px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2{
        font-size: 2em;
        color: black;
        text-align: center;
        letter-spacing: 5px;
    }
    .inputbox{
        position: relative;
        margin: 25px 0; width: 180px;
        border-bottom: 2px solid #fff;
    }
    .inputbox label{
        position: absolute;
        top: -10px;
        left: 5px;
        transform: translateY(-50%);
        color: Black; font-size: 1em;
        pointer-events: none;
        font-weight: bolder;
    }
    input:focus ~ label,
    input:focus ~ :valid{
        top: -5px;
    }
    .inputbox-input{
        width: 100x;
        height: 50px;
        background: transparent;
        border: none;
        outline: none; 
        font-size: 1em;
        padding: 35px 0.5px;
    }
    .inputbox ion-ion{
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 1.2em;
        top: 20px;
    }
    .forget{
        text-align: center;
    }
    .forget label a{
        color: black;
        text-align: none;
    }
    .forget label a:hover{
        text-decoration: underline;
    }
    button:hover{
        color: red;
    }
    button{
        font-family: 'Times New Roman', Times, serif;
        color: white;
        width: 100%;
        height: 40px;
        border-radius: 10px;
        background-color: black;
        border: none;
        outline: none;
        cursor: pointer; font-size: 1em;
        font-weight: 600;
    }
}
@media (max-width: 480px) {

    body{
        height: 2000px;
    }
    .container{
        height: 1000px;
        border: 1px Solid black;
    
        background-image: linear-gradient(180deg, aqua, white);
    }
    .box{
        background-color: rgba(198,149,174,0,5);
    
        border-radius: 75px;
        position: relative;
        top: 10px;
        left: 10px;
    }
    .yellow{
        background-color: yellow;
        position: absolute;
        left: 30px;
    }
    .orange{
        background-color: orange;
        position: fixed;
        left: -50px;
    }
    .pink{
        background-color: pink;
        position: sticky;
        top: 0px;
        z-index: -1;
    }
    
    
    section{
        display: flex;
        justify-content: center;
        align-items: center; min-height: 100vh;
        width: 100%;
        background: url();
        background-position: center;
        background-size: cover;
    }
    .form{
        
        top: 150px;
    }
    .form-box{
        position: relative;
        width: 450px;
        height: 300px;
        background: transparent;
        background-image: url(RC-AKIC.png);
        background-position: center left;
        background-size: 150px;
        background-repeat: no-repeat;    
        border: 2px solid black;
        border-radius: 20px;
        backdrop-filter: blur(2px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2{
        font-size: 2em;
        color: black;
        text-align: center;
        letter-spacing: 5px;
    }
    .inputbox{
        position: relative;
        margin: 25px 0; width: 180px;
        border-bottom: 2px solid #fff;
    }
    .inputbox label{
        position: absolute;
        top: -10px;
        left: 5px;
        transform: translateY(-50%);
        color: Black; font-size: 1em;
        pointer-events: none;
        font-weight: bolder;
    }
    input:focus ~ label,
    input:focus ~ :valid{
        top: -5px;
    }
    .inputbox-input{
        width: 100x;
        height: 50px;
        background: transparent;
        border: none;
        outline: none; 
        font-size: 1em;
        padding: 35px 0.5px;
    }
    .inputbox ion-ion{
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 1.2em;
        top: 20px;
    }
    .forget{
        text-align: center;
    }
    .forget label a{
        color: black;
        text-align: none;
    }
    .forget label a:hover{
        text-decoration: underline;
    }
    button:hover{
        color: red;
    }
    button{
        font-family: 'Times New Roman', Times, serif;
        color: white;
        width: 100%;
        height: 40px;
        border-radius: 10px;
        background-color: black;
        border: none;
        outline: none;
        cursor: pointer; font-size: 1em;
        font-weight: 600;
    }
}