.container{
    height: 100vh;

    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
.Heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bolder;
    flex-grow: 0.3;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: row;
    border: 10px Solid white;
}

.Logo{
    background-repeat: no-repeat;
    background-size: 14%;
    background-position: left; 
    margin: 1;
    background-image: url();
    flex-grow: 0.8;
}
.menu{
    display: flex;

    justify-content: center;

    margin-top: -20px;
    margin-left: -20px;

    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.all{
    background-color: black;
    border-radius: 25px;

    height: 30px;

    text-align: center;

    color: white;
}
.all:hover{
    color: red;

}
.search{
    width: 1000px;
    margin-left: 100px;
}
img{
    height: 50px;
    width: 100px;

    margin-top: -150px;
    margin-bottom: 15px;
}

.Nav{
    flex-grow: 0.1;
}
.Main{
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}
.One{
    display: flex;
    flex-direction: column;

    


}
.home{   
    font-size: 15px;
    font-weight: bolder;

    margin-top: -1px;
}
.shorts{

    margin-top: -1px;

    font-size: 15px;
    font-weight: lighter;
}
.subs{   
    margin-top: -1px;

    font-size: 15px;
    font-weight: lighter;

}
.other{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.sunset{
    margin-top: 1px ;

    height: 130px;
    width: 700px;

    
    border-radius: 20px;

    
    margin-left: -10px;
}
.sunset1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1px;
    margin-left: 300px;

    height: 250px;
    width: 350px;
    
    border-radius: 20px;
}
.sunset2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -10px;
    margin-top: -10px;

}
.visit{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -10px;
    margin-top: -15px;
}
.button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(3, 116, 245);
    margin-left: -10px;
}
.Box{
    margin-top: -200px;

    background-image: url();
    
    height: 50px;
    width: 1300px;

    border-radius: 50px;

    margin-left: 380px;
    margin-top: -200px;

}
.Box1{
    
    background-image: url(IMG_7612.JPG);

}
.Box2{
    
    background-image: url(IMG_7612.JPG);

}
.Box3{
    
    background-image: url(IMG_7612.JPG);

}
.last{
    margin-top: -200px;

    background-image: url();
    
    height: 50px;
    width: 1300px;

    border-radius: 50px;

    margin-left: 380px;
    margin-top: 10px;

}
.last1{
    
    background-image: url(IMG_7612.JPG);

}
.last2{
    
    background-image: url(IMG_7612.JPG);

}
.last3{
    
    background-image: url(IMG_7612.JPG);

}
a{
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.empty{
}

.Two{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
.none{
    flex-grow: 1;    
    border: 10px Solid white;
    
}
.Three{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
.zero{
    
    flex-grow: 1;    
    border: 10px Solid white;
}
.Four{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
.last{
    flex-grow: 1;    
    border: 10px Solid white;
}

*{

}

.One{
    flex-grow: 0.5;

}

.Two{
    flex-grow: 0.5;

}
.Three{
    flex-grow: 0.5;

}
.Four{

    flex-grow: 0.5;

}
.Box{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    border: 10px Solid white;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}
.Box1{
    border: 10px Solid white;
    background-color: gray;
    flex-grow: 0.3;

}
.Box2{
    border: 10px Solid white;
    background-color: gray;
    flex-grow: 0.4;

}
.Box3{
    border: 10px Solid white;
    background-color: gray;
    flex-grow: 0.4;

}
.last{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    border: 10px Solid white;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}
.last1{
    border: 10px Solid white;
    background-color: gray;
    flex-grow: 0.3;

}
.last2{
    border: 10px Solid white;
    background-color: gray;
    flex-grow: 0.4;

}
.last3{
    border: 10px Solid white;
    background-color: gray;
    flex-grow: 0.4;

}
.Footer{  


}
@media (max-width: 620px) {
    .Footer{
        background-color: red;
    }
}