body{
    background-color: black;

    margin-top: 0;

    /*height: 100vh;*/
}
button{
    border-radius: 25px;
}
.sidebar{

    margin-top: -974px;

    background-color: rgb(37, 37, 37);

    width: 320px;

    border: 5px Solid  rgb(37, 37, 37);

}
.footer{
    background-color: black;
}
.playandstop{

    background-color: black;

    

}
.east{
    margin-top: 450px;
    


}
.lil{
    margin-top: -20px;

    position: sticky;
}
.spotify{
    height: 90px;
}
a{
    text-decoration: none;
    color: white;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
a:hover{
    color: red;
}
.your{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;

    width: 250px;
    height: 30px;

    background-color: rgb(37, 37, 37);
    border: 2px Solid black;
}
.your:hover{
    color: black;
    background-color: white;
}
.mix{
    margin-top: -25px;
}
.show{
    text-align: right;
}
.plus{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;
    
    height: 30px;

    background-color: rgb(37, 37, 37);
    border: 2px Solid black;
}
.plus:hover{
    color: black;
    background-color: white;
}
.arrow{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;
    
    height: 30px;

    background-color: rgb(37, 37, 37);
    border: 2px Solid black;

}
.arrow:hover{
    color: black;
    background-color: white;
}
.last{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;
    
    height: 30px;

    background-color: rgb(37, 37, 37);
    border: 2px Solid black;
    border-radius: 25px;
    
    margin-top: -25px;
    margin-left: 5px;

    outline: none;
}
.last:hover{
    color: black;
    background-color: white;
}
.search{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white ;

    height: 20px;

    background-color: black;

    border: 2px Solid black;

    text-align: right;

    width: 245px;

}
.search:hover{
    color: white;
}
.album1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;
}
.album2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;
}
.album3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;
}
.album4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;
}
.album5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;
}
.album6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;
}
.album7{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;
}
.album8{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;
}
.good{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;
    
    margin-left: 350px;
    margin-top: 100px;
}
.artists{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;

    margin-left: 350px;
}
.bi{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;

    height: 50px;
    width: 300px;

    background-color: rgb(37, 37, 37);
    border: 2px Solid black;
    border-radius: 10px;

}
.bi:hover{
    color: red;
    background-color: white;
    width: 150px;

    text-align: center;
}
.folk{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;
    

    height: 50px;
    width: 300px;

    background-color: rgb(37, 37, 37);
    border: 2px Solid black;
    border-radius: 10px;
    
}
.folk:hover{
    color: red;
    background-color: white;
    width: 150px;

    text-align: center;
}
.opm{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;

    height: 50px;
    width: 300px;

    margin-top: -152px;
    margin-left: 300px;

    background-color: rgb(37, 37, 37);
    border: 2px Solid black;
    border-radius: 10px;
    
}
.opm:hover{
    color: red;
    background-color: white;
    width: 150px;

    text-align: center;
}
.country{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;

    height: 50px;
    width: 300px;

    margin-left: 300px;
    margin-top: -1px;

    background-color: rgb(37, 37, 37);
    border: 2px Solid black;
    border-radius: 10px;
    
}
.country:hover{
    color: red;
    background-color: white;
    width: 150px;

    text-align: center;
}
.kpop{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;

    height: 50px;
    width: 300px;

    margin-left: 600px;
    margin-top: -152px;


    background-color: rgb(37, 37, 37);
    border: 2px Solid black;
    border-radius: 10px;
    
}
.kpop:hover{
    color: red;
    background-color: white;
    width: 150px;

    text-align: center;
}
.feel{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;

    height: 50px;
    width: 300px;

    margin-left: 600px;

    background-color: rgb(37, 37, 37);
    border: 2px Solid black;
    border-radius: 10px;
    
}
.feel:hover{
    color: red;
    background-color: white;
    width: 150px;

    text-align: center;
}
.sunset{
    height: 200px;
    width: 200px;

    border-radius: 10px;
}
.k{
    height: 200px;
    width: 200px;

    border-radius: 10px;
}
.b{
    height: 200px;
    width: 200px;

    border-radius: 10px;
}
.c{
    height: 200px;
    width: 200px;

    margin-top: -25px;

    border-radius: 10px;
}
.m{
    height: 200px;
    width: 200px;
}
.ten{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;

    background-color: rgb(37, 37, 37);;

    height: 200px;

    width: 200px;

    margin-left: 370px;
}
.keith{
    font-weight: lighter;
    color: white;

    margin-left: 370px;

    background-color: rgb(37, 37, 37);

    width: 190px;
}
.keith:hover{
    color: red;
}
.kenny{
    font-weight: lighter;

    color: white;

    
    background-color: rgb(37, 37, 37);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    width: 190px;
    
    margin-left: 370px;
    margin-top: -25px;

}
.east{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: white;
}
.lil{
    font-weight: lighter;

    color: white;
}
.bimix{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;

    background-color: rgb(37, 37, 37);

    width: 190px;

    margin-left: 590px;
    margin-top: -69px;
}
.bimix:hover{
    color: red;
}
.lee{
    font-weight: lighter;
    
    color: white;  
    
    background-color: rgb(37, 37, 37);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    width: 190px;

    margin-left: 590px;
    margin-top: -22px;
}
.moody{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: white;

    background-color: rgb(37, 37, 37);

    width: 190px;

    margin-left: 810px;
    margin-top: -71px;
}
.moody:hover{
    color: red;
}
.botb{
    font-weight: lighter;

    color: white;
    
    background-color: rgb(37, 37, 37);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    width: 190px;

    margin-left: 810px;
    margin-top: -22px;
}
.chill{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: white;

    background-color: rgb(37, 37, 37);;

    width: 190px;

    margin-left: 1030px;
    margin-top: -72px;
}
.chill:hover{
    color: red;
}
.lany{
    font-weight: lighter;

    color: white;
    
    background-color: rgb(37, 37, 37);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    width: 190px;

    margin-left: 1030px;
    margin-top: -22px;
}
.two{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: white;

    background-color: rgb(37, 37, 37);;

    width: 190px;

    margin-left: 1250px;
    margin-top: -71px;
}
.two:hover{
    color: red;
}
.selena{
    font-weight: lighter;

    color: white;
    
    background-color: rgb(37, 37, 37);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    width: 190px;

    margin-left: 1250px;
    margin-top: -22px;
}
.install{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;

    text-align: center;

    margin-left: 1650px;
    margin-top: -60px;

    background-color: rgb(63, 62, 62);
    border-radius: 10px;

    width: 90px;
    height: 25px;
}
.install:hover{
    color: red;
    background-color: white;
}
.profile{
    height: 50px;
    
    
    margin-top: 10px;
    margin-left: 1800px;
}
.right{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;

    color: white;

    text-align: center;

    background-color: rgb(37, 37, 37);

    width: 25px;
    
    border-radius: 25px;

    margin-top: -56px;
    margin-left: 380px;
}
.right:hover{
    color: red;
}
.left{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;

    color: white;

    text-align: center;

    background-color: rgb(37, 37, 37);

    width: 25px;

    border-radius: 25px;

    margin-top: -30px;
    margin-left: 350px;
}
.left:hover{
    color: red;
}
.made{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;

    margin-left: 360px;
}
.sunset1{
    height: 50px;
    margin-top: 15px;
}
.like{
    margin-left: 90px;
    margin-top: -45px;
}
.like:hover{
    color: red;
}
.like1{
    margin-left: 90px;
    margin-top: -20px;
}
.sunset2{
    height: 50px;
}.save{
    margin-left: 90px;
    margin-top: -45px;
}
.save:hover{
    color: red;

}
.save1{
    margin-left: 90px;
    margin-top: -20px;
}
.sunset3{
    height: 50px;
}.wyd{
    margin-left: 90px;
    margin-top: -45px;
}
.wyd:hover{
    color: red;

}
.wyd1{
    margin-left: 90px;
    margin-top: -20px;
}
.sunset4{
    height: 50px;
}.taylor{
    margin-left: 90px;
    margin-top: -45px;
}
.taylor:hover{
    color: red;

}
.taylor1{
    margin-left: 90px;
    margin-top: -20px;
}
.sunset5{
    height: 50px;
}.spo{
    margin-left: 90px;
    margin-top: -45px;
}
.spo:hover{
    color: red;

}
.spo1{
    margin-left: 90px;
    margin-top: -20px;
}
.sunset6{
    height: 50px;
}.play{
    margin-left: 90px;
    margin-top: -45px;
}
.play:hover{
    color: red;

}
.play1{
    margin-left: 90px;
    margin-top: -20px;
}
.sunset7{
    height: 50px;
}.sbs{
    margin-left: 90px;
    margin-top: -45px;
}
.sbs:hover{
    color: red;

}
.sbs1{
    margin-left: 90px;
    margin-top: -20px;
}
.sunset8{
    height: 50px;
}.benny{
    margin-left: 90px;
    margin-top: -45px;
}
.benny1{
    margin-left: 90px;
    margin-top: -20px;
}