.account{
    text-align: center;
}
.account a{
    color: black;
}
.footer{
    border: 2px Solid white;
}
.footer1{
    justify-content: center;
    color: red;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;   
    display: flex;  
    background-color: grey;
}
.footer2{
    font-weight: bolder;
    border: 2px Solid black;
    display: flex;  
    background-color: grey;
}
.location{
    letter-spacing: 0.01cm;
}
.School{
    letter-spacing: 0.01cm;
    border-right: 2px Solid black;
    flex-grow: 100px;
}
.Contact{
    letter-spacing: 0.01cm;
}

.text{
    border: Solid 5px;
}
.text1{
    padding-left: 1cm;
    justify-content: center;
    background-color: grey;
    display: flex;
    font-size: 30px;
    font-weight: bolder;
    border-bottom: Solid 4px;
    
}
a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    color: red;
}
body nav{

}
h1 a{
    background: transparent;
    backdrop-filter: blur(2x);
    border: 1px;
    font-family: 'Times New Roman', Times, serif;
    border-style: groove;
    border-color: transparent;
    color: white; font-size: 25px;
    text-decoration: none;
    padding: 1cm;
    font-weight: bolder;
}
section{
    display: flex;
    justify-content: center;
    align-items: center; min-height: 100vh;
    width: 100%;
    background: url();
    background-position: center;
    background-size: cover;
}
.form{
    
    top: 150px;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 3px solid black;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    color: black;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 25px 0; width: 180px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: -10px;
    left: 5px;
    transform: translateY(-50%);
    color: Black; font-size: 1em;
    pointer-events: none;
    font-weight: bolder;
}
input:focus ~ label,
input:focus ~ :valid{
    top: -5px;
}
.inputbox-input{
    width: 100x;
    height: 50px;
    background: transparent;
    border: none;
    outline: none; 
    font-size: 1em;
    padding: 35px 0.5px;
}
.inputbox ion-ion{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    text-align: center;
}
.forget label a{
    color: black;
    text-align: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button:hover{
    color: red;
}
button{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer; font-size: 1em;
    font-weight: 600;
}
@media (max-width: 620px) {
    .text{
        border: Solid 5px;
    }
    .text1{
        text-align: center;
        font-size: 20px;
        
    }
    .footer1{
        align-items: center;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        background-color: grey;
    }
    
    .form-box{
        position: relative;
        width: 300px;
        height: 350px;
        background: transparent;
        border: 3px solid black;
        border-radius: 20px;
        backdrop-filter: blur(2px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2{
        font-size: 1.50em;
        color: black;
        text-align: center;
    }
    .inputbox{
        position: relative;
        margin: 25px 0; width: 180px;
        border-bottom: 2px solid #fff;
    }
    .inputbox label{
        position: absolute;
        top: -10px;
        left: 5px;
        transform: translateY(-50%);
        color: Black; font-size: 1em;
        pointer-events: none;
        font-weight: bolder;
    }
    input:focus ~ label,
    input:focus ~ :valid{
        top: -5px;
    }
    .inputbox-input{
        width: 50px;
        height: 25px;
        background: transparent;
        border: none;
        outline: none; 
        font-size: 1em;
        padding: 35px 0.5px;
    }
    .inputbox ion-ion{
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 1.2em;
        top: 20px;
    }
    .forget{
        text-align: center;
    }
    .forget label a{
        color: black;
        text-align: none;
    }
    .forget label a:hover{
        text-decoration: underline;
    }
    button:hover{
        color: red;
    }
    button{
        font-family: 'Times New Roman', Times, serif;
        color: white;
        width: 90%;
        height: 30px;
        border-radius: 40px;
        background-color: black;
        border: none;
        outline: none;
        cursor: pointer; font-size: 1em;
        font-weight: 600;
    }
    .account label{
        font-size: medium;
    }
    .account label a{
        font-size: medium;
    }
}